
<div id="bg">
  <br><br><br><br><br><br><br>
                <!-- Sign In Form -->
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <h5 align = "center" style="color: darkblue; font-size: 20px;"> <b>Login Page</b> </h5>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4" [(ngModel)]="registerForm.email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                   </div>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4" [(ngModel)]="registerForm.password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                   </div>
                    <label for="floatingPassword">Password</label>
                  </div>
  
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" style="width: 2px;height: 2px;">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      <h5 style="font-size: medium;"> Remember password</h5>
                    </label>
                  </div>
                  <br>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" style="margin-left: 32px;"><h6 style="font-size: 12px;padding-left: 55px;">Sign in</h6></button>
                    <div class="text-center">
                      <a class="small" href="#"><h5 style="font-size: small;color: aliceblue;">Forgot password?</h5></a>
                    </div>
                  </div>
  
                </form>
</div>
