body {
    background-image: url('https://c0.wallpaperflare.com/preview/1017/538/491/money-finance-bank-cash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    
  }
  .custom-table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    width: 100%;
    border-radius:50px;;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
    text-align: left;
  }

  .custom-table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }

  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .custom-table button {
    margin-right: 5px;
  }
       

