.bg{

  /* background-image: url(https://cdn-res.keymedia.com/cms/images/us/073/0321_638088758157790874.jpg); */
height: 100%;
width: 100%;
background-size: cover;
}

header{
margin-top: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

/* .logo{
  font-size:  2em;
  color: white;
  user-select: none;
} */

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-weight: 400;
  margin-left: 40px;
}
a{
position:relative;
text-decoration:none;
font-family: 'Poppins',sans-serif;
color:azure;
font-size:18px;
letter-spacing:0.5px;
padding:0 10px;
}
a:after{
  content:"";
  position:absolute;
  height:3px;
  width:100%;
  left:0;
  bottom: -10px;
}
a:after{
  content:"";
  position: absolute;
  background-color: rgb(19, 18, 18);
  height: 3px;
  width: 0;
  left:0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover{
  color:aliceblue;
}
a:hover:after{
width:100%
}
 h4{
  margin-left: 30px; 
 }
/* } */
a{
  margin-right: 12px;
}
/* img{
  background-color: transparent;
}
h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  color: rgb(50, 51, 51);
  font-variant: small-caps;
  font-display: flex;
 
}
img{

  filter: blur(8px);
} */
