
<html>
  <body>
<main>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg">

                <div class="card shadow-lg border-0 rounded-lg mt-5">

                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Payment Details</h3></div>

                    <div class="card-body">
<table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Payment Id</th>
       <th scope="col">Total Amount</th>
        <th scope="col">Duration</th>
        <th scope="col">Monthly EMI</th>
      </tr>
    </thead>
     <tbody>
      <tr *ngFor="let paymentdata of PaymentArray">
        <th scope="row">{{paymentdata.paymentId}}</th>
        <th scope="row">{{paymentdata.totalAmt}}</th>
        <th scope="row">{{paymentdata.duration}}</th>
        <th scope="row">{{paymentdata.monthlyEMI}}</th>
      </tr>
    </tbody> 
</table>
</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>